name: Directory and file manipulation
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: mkdir hallo
      - run: echo "hier is kleine tekst" > hallo/test.txt
      - run: ls
      
